<h1 *ngIf="!data.name" mat-dialog-title>Create New Project</h1>
<h1 *ngIf="data.name" mat-dialog-title>Edit Project</h1>
<div mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label>Project Name</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Project Description</mat-label>
    <textarea matInput [(ngModel)]="data.description"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select a color</mat-label>
    <mat-select [(value)]="data.color">
        <mat-option value="#fe36c0">Pink</mat-option>
        <mat-option value="#1c70dd">Blue</mat-option>
        <mat-option value="#7FFF00">Green</mat-option>
        <mat-option value="#DC143C">Red</mat-option>
        <mat-option value="#800080">Purple</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button *ngIf="!data.name" mat-button [mat-dialog-close]="data" cdkFocusInitial>Create Project</button>
  <button *ngIf="data.name" mat-button [mat-dialog-close]="data" cdkFocusInitial>Edit Project</button>
</div>