<div class="top" [style.background]="project?.color"></div>
<div class="board">
  <div class="header">
    <h1>{{project?.name}}</h1>
    <p>{{ project?.description }}</p>
  </div>
  <button mat-raised-button class="create" (click)="openIdeaDialog()">Create Idea</button>
  <div cdkDropListGroup>
    <div class="example-container">
      <h2>Submitted</h2>
  
      <div
        cdkDropList
        id="submitted"
        [cdkDropListData]="ideas.submitted"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of ideas.submitted" cdkDrag>
          {{item?.idea}}
          <button mat-raised-button (click)="deleteIdea(item?.ideaId)">Delete</button>
        </div>
      </div>
    </div>
  
    <div class="example-container">
      <h2>Review</h2>
      <div
        cdkDropList
        id="review"
        [cdkDropListData]="ideas.review"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of ideas.review" cdkDrag>
          <p>{{item?.idea}}</p>
          <button mat-raised-button class="create-button" (click)="openCommentDialog(item?.ideaId, item?.comments)">View {{item?.comments?.length}} Comment<span *ngIf="item?.comments?.length !== 1">s</span></button>
        </div>
      </div>
    </div>
  
    <div class="example-container">
      <h2>Accepted</h2>
  
      <div
        cdkDropList
        id="accepted"
        [cdkDropListData]="ideas.accepted"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of ideas.accepted" cdkDrag>
          {{item?.idea}}</div>
      </div>
    </div>
  
    <div class="example-container">
      <h2>Rejected</h2>
  
      <div
        cdkDropList
        id="rejected"
        [cdkDropListData]="ideas.rejected"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of ideas.rejected" cdkDrag>{{item?.idea}}</div>
      </div>
    </div>
  </div>

</div>
