<div class="top" [style.background]="project?.color"></div>
<div class="board">
  <div class="header">
    <h1>{{project?.name}}</h1>
    <p>{{ project?.description }}</p>
  </div>
  <button mat-raised-button class="create" (click)="openIdeaDialog()">Create Idea</button>
  <button mat-raised-button class="create" (click)="openUserDialog()">Add User</button>
  <button mat-raised-button class="create" (click)="openUserDialog()">Add Admin</button>
  <div cdkDropListGroup>
    <div class="example-container">
      <h2>Submitted</h2>
  
      <div
        cdkDropList
        id="submitted"
        [cdkDropListData]="ideas.submitted"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <mat-card class="card" *ngFor="let item of ideas.submitted" cdkDrag>
          <p>{{ item?.idea }}</p>
          <div class="buttons">
            <button class="delete" mat-mini-fab color="warn" aria-label="Delete idea" (click)="deleteIdea(item?.ideaId)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-card>
      </div>
    </div>
  
    <div class="example-container">
      <h2>Review</h2>
      <div
        cdkDropList
        id="review"
        [cdkDropListData]="ideas.review"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <mat-card class="card" *ngFor="let item of ideas.review" cdkDrag>
          <p>{{ item?.idea }}</p>
          <div class="buttons">
            <button mat-raised-button class="create-button" (click)="openCommentDialog(item?.ideaId, item?.comments)">View {{item?.comments?.length}} {{ commentString }}</button>
            <button class="delete" mat-mini-fab color="warn" aria-label="Delete idea" (click)="deleteIdea(item?.ideaId)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <p></p>
          <div class="buttons">
            <button class="delete" mat-mini-fab color="good" aria-label="Up vote idea" (click)="upVote(item?.ideaId)">
              <mat-icon>thumb_up</mat-icon>
            </button>
            <button class="delete" mat-mini-fab aria-label="Down vote idea" (click)="downVote(item?.ideaId)">
              <mat-icon>thumb_down</mat-icon>
            </button>
          </div>
        </mat-card>
      </div>
    </div>
  
    <div class="example-container">
      <h2>Accepted</h2>
  
      <div
        cdkDropList
        id="accepted"
        [cdkDropListData]="ideas.accepted"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <mat-card class="card" *ngFor="let item of ideas.accepted" cdkDrag>
          <p>{{ item?.idea }}</p>
          <button mat-raised-button class="create-button" (click)="openCommentDialog(item?.ideaId, item?.comments)">View {{item?.comments?.length}} Comment</button>
          <button mat-raised-button class="delete" (click)="deleteIdea(item?.ideaId)">Delete</button>
        </mat-card>
    </div>
  </div>
  
    <div class="example-container">
      <h2>Rejected</h2>
  
      <div
        cdkDropList
        id="rejected"
        [cdkDropListData]="ideas.rejected"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <!-- <mat-card class="card" *ngFor="let item of ideas.rejected" cdkDrag>
          <p>{{ item?.idea }}</p>
          <button mat-raised-button class="delete" (click)="deleteIdea(item?.ideaId)">Delete</button>
        </mat-card> -->
      </div>
    </div>
  </div>
</div>
