<form class="example-form">
  <img class="pic" src="../../../assets/logo.png" height="200px">
  <mat-form-field class="example-full-width">
    <mat-label>First Name</mat-label>
    <input matInput type="text" [(ngModel)]="firstName" [ngModelOptions]="{standalone: true}">
  </mat-form-field>
  <mat-error *ngIf="firstNameError">
    Please provide first name
  </mat-error>
  
  <mat-form-field class="example-full-width">
    <mat-label>Last Name</mat-label>
    <input matInput type="text" [(ngModel)]="lastName" [ngModelOptions]="{standalone: true}">
  </mat-form-field>
  <mat-error *ngIf="lastNameError">
    Please provide last name
  </mat-error>

  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
  </mat-form-field>
  <mat-error *ngIf="emailError || emailTaken">
    {{ emailMessage }}
  </mat-error>

  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input matInput type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
  </mat-form-field>
  <mat-error *ngIf="passwordError">
    Invalid password
  </mat-error>
  <button mat-raised-button (click)="register()">Register</button>
  <a class="login" [routerLink]="['/login']">Already have an account? Login here!</a>
</form>
